.jobs-page {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.jobs-page .jobs-selector {
    justify-content: center;
}

.jobs-page .form {
    text-align: center;
    width: 50%;
}

.jobs-page .form .fields {
    margin-top: 1rem;
}

.jobs-page .loader {
    margin-top: 1rem;
}

.jobs-page .error {
    text-align: center;
    width: 70%;
    color: var(--error-color);
}