.users-page {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.users-page .users-selector {
    justify-content: center;
}

.users-page .form {
    text-align: center;
    width: 50%;
}

.users-page .form .fields {
    margin-top: 1rem;
}

.users-page .loader {
    margin-top: 1rem;
}

.users-page .error {
    text-align: center;
    width: 70%;
    color: var(--error-color);
}